@import "@/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 160px;
  align-items: center;

  @media screen and (min-width: 1060px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.descWrap {
  max-width: 526px;
}

.title {
  font-size: 36px;
  letter-spacing: -0.04em;

  @media screen and (min-width: 1060px) {
    font-size: 48px;
  }
}

.desc {
  margin-top: 24px;
  margin-bottom: 72px;

  line-height: 28px;
  color: $black60;
}
